:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --border-tic-tac-toe: 8px solid #fff
}

body {
  background-color: #222;
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.board {
  width: fit-content;
  margin: 30px auto;
  text-align: center;
}

.board h1 {
  color: #eee;
  margin-bottom: 30px;
}

.board img{
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.board button {
  padding: 14px 10px;
  margin: 25px;
  background: transparent;
  border: 2px solid #ffffff;
  color: #eee;
  width: 200px;
  border-radius: 10px;
  transition: .2s;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
}

.board button:hover {
  background: #09f;
  color: #fff;
}

.board .game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


.turn {
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
  width: fit-content;
  position: relative;
  border-radius: 30px;
  gap: 6px
}

.turn .square,
.winner .square {
  width: 70px;
  height: 70px;
  align-items: center;
  pointer-events: none;
  border-color: transparent;
  border-radius: 10px;
}

.square.is-selected {
  color: #fff;
  background: #09f;
}

.winner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.726);
}

.winner .text {
  background: #111;
  height: 300px;
  width: 310px;
  border: 2px solid #eee;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.winner .win {
  margin: 0 auto;
  width: fit-content;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  gap: 15px;
}

.square {
  width: 100px;
  height: 100px;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 48px;
}

.game .square:nth-child(4),
.game .square:nth-child(5),
.game .square:nth-child(7),
.game .square:nth-child(8){
  border-top: var(--border-tic-tac-toe);
  border-right: var(--border-tic-tac-toe);
}

.game .square:nth-child(1),
.game .square:nth-child(2){
  border-right: var(--border-tic-tac-toe);
}
.game .square:nth-child(6),
.game .square:nth-child(9){
  border-top: var(--border-tic-tac-toe);
}